#may{
background-color: rgba(22, 22, 21, 0.884) !important;
color: rgb(223, 165, 124) !important;
}

#ofertas{
  background-color: rgb(25, 26, 21) !important;
  color: rgb(240, 235, 235) !important;
  
}

#casilla{
  background-color: rgba(131, 127, 124, 0.89) !important;
  
}